.DS_Store
*.lyx~
RR/Esterni/Piano di Progetto/GANTT_1_AN.mpp
RQ/Esterni/Definizione di prodotto/#capitolo9.lyx#
RQ/Esterni/Definizione di prodotto/#Capitolo4.lyx#
RQ/Esterni/Definizione di prodotto/#Capitolo6.lyx#
RQ/Esterni/Analisi dei Requisiti/#Capitolo4.lyx#
