.DS_Store
*.lyx~
RR/Esterni/Piano di Progetto/GANTT_1_AN.mpp
RQ/Esterni/Definizione di prodotto/#capitolo9.lyx#
RQ/Esterni/Definizione di prodotto/#Capitolo4.lyx#
RQ/Esterni/Definizione di prodotto/#Capitolo6.lyx#
RQ/Esterni/Analisi dei Requisiti/#Capitolo4.lyx#
RQ/Esterni/Specifica Tecnica/#Capitolo1.lyx#
RQ/Esterni/Specifica Tecnica/#Capitolo2.lyx#
RQ/Esterni/Definizione di prodotto/#capitolo5.lyx#
RQ/Esterni/Definizione di prodotto/#Capitolo7.lyx#
RQ/Esterni/Definizione di prodotto/#Diario_modifiche.lyx#
