
#header, #content {
	width: 80%;
	margin: 0 auto;
	padding: 0 1.5em;
}

/****** INDEX ******/

/*.index {
	float: right;
	width: 45%;
	margin: 1em 0 1em 1em;
}
*/


/****** HEADER ******/

#header h1 {
	margin: 0.6em 0 0.4em -0.6em;
	color: #ff5500;
	font-weight: bold;
	font-size: 2.6em;
}

/****** CONTENT ******/

#content {
	clear: both;
	background: white;
	padding-top: 2em;
	margin-bottom: 4em;
}

#content h2 {
	color: #ff5500;
	font-size: 2em;
	padding: 0.4em 0 0.3em;
}

/****** FORM ******/

.form_info{
	width : 48%;
	float : left;
	clear: both;
	text-align : justify;
	margin-top : 1% !important;
}

.form_info p{
	margin-top: 0 !important;
}

#inner_content_form_foot{
	padding-left : 2%;
	clear : both;
	margin : 0 !important; 
}
